
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.cpg
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.dbf
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.prj
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.shp
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.shp.xml
Main/NUTS_Level_1_January_2018_FEB_in_the_United_Kingdom.shx
Main/PCON_JULY_2024_UK_BSC.cpg
Main/PCON_JULY_2024_UK_BSC.dbf
Main/PCON_JULY_2024_UK_BSC.prj
Main/PCON_JULY_2024_UK_BSC.shp
Main/PCON_JULY_2024_UK_BSC.shp.xml
Main/PCON_JULY_2024_UK_BSC.shx
